<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="">
        <div class="container">
            <div class="row p-5 text-center">
                <div class="col-md-4 mb-5 text-white ">
                    <div>
                        <h3>LOCATION</h3>
                        <p>2215 John Daniel Drive</p>
                        <p class="pt-2"> Clark, MO 65243</p>
                    </div>
                </div>
                <div class="col-md-4 mb-5 text-white ">
                    <div>
                        <h3>AROUND THE WEB</h3>
                       <div class="d-flex justify-content-center ms-3">
                        <div class="icon m-2">
                            <i class="pt-2 fa-brands fa-facebook-f"></i>
                        </div>
                       <div class="icon m-2">
                        <i class="pt-2 fa-brands fa-twitter"></i>
                       </div>
                       <div class="icon m-2">
                        <i class="pt-2 fa-brands fa-linkedin-in"></i>
                       </div>
                       <div class="icon m-2">
                        <i class=" pt-2 fa-solid fa-globe"></i>
                       </div>
                       </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5 text-white">
                    <div>
                        <h3>ABOUT FREELANCER</h3>
                        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                    </div>
                </div>
            </div>
        </div>  
         <div class="p text-center w-100">
        <p class="text-white">Copyright © Your Website 2021</p>
    </div>
    </footer>
</body>
</html>