<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="pt-5 text-center">
        <h3 class="h1 pt-5 mt-5 fw-bolder ">conatct section</h3>
        <div class="d-flex justify-content-center pt-2">
          <div class="line d-flex me-3"></div>
          <i class="fa-solid fa-star"></i>
          <div class="line d-flex ms-3"></div>
         </div>
        <div class="container-fluid">
            <input type="name" class="form-control m-auto my-4 w-75" id="username" placeholder="userName">
            <input type="number" class="form-control m-auto my-4 w-75" id="useeage" placeholder="userAge">
            <input type="email" class="form-control m-auto my-4 w-75" id="userEmail" placeholder="userEmail">
            <input type="password" class="form-control m-auto mt-4 w-75" id="password" placeholder="userPassword">
        </div>
        <button type="button" class="btn btn-info text-white ms-0 my-4">send Message</button>
    </section>
</body>
</html>
